@import "tailwindcss";
@import "tailwindcss-primeui";

@theme inline {
    --color-accent: var(--p-accent-500);
    --color-accent-emphasis: var(--p-accent-hover-color);
    --color-accent-emphasis-alt: var(--p-accent-active-color);
    --color-accent-contrast: var(--p-accent-contrast-color);
}

:root {
    background-color: var(--color-surface-50);
}

:root.dark-theme {
    background-color: var(--color-surface-950);
}